<nav class="navbar navbar-expand-lg navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="">NGRX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a  href="/counters/counter" class="nav-link active text-warning " aria-current="page" routerLink="/counters/counter">counter</a>
                </li>

                <li class="nav-item">
                    <a href="/listdata" class="nav-link ms-2 text-warning" routerLink="/listdata">list</a>
                 </li>
                <li class="nav-item">
                    <a href="/posts" class="nav-link ms-2 text-warning" routerLink="/posts">posts</a>
                    
                </li>
                <div class="nav-item">
                    <a href="/auth/login" class=" nav-link justify-content-end text-warning" routerLink="/auth/login">Login</a>
                </div>
                <div class="nav-item">
                    <a class=" nav-link justify-content-end text-warning">SignUp</a>
                </div>
            </ul>
        </div>
    </div>
</nav>
