<app-header></app-header>
<form class="row g-3 py-2" >
  <div class="col-auto">
    <label for="txtSearch" class="visually-hidden">Search By Brand</label>
    <input type="text" name="txtSearch" class="form-control" id="txtSearch" placeholder="Search By title" [(ngModel)]="selectedtitle">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" (click)="searchByBrand()">Search</button>
  </div>
</form>
<table class="table bg-dark text-white">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let item of rates; let i =index;" >
        <th scope="row">{{i+1}}</th>
        <td>{{item.id}}</td>
        <td>{{item.__typename}}</td>
        <td>{{item.title }}</td>

          <td><button class="btn btn-success" (click)="updatedata()">Edit</button></td>
          <td><button class="btn btn-danger" (click)="deletedata()">Delete</button></td>

       </tr>
    </tbody>
  </table>
  
  
