<!-- <p>list works!</p>
<table class="table bg-dark text-danger">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rates">
        <th scope="row">1</th>
        <td>{{item.data.albums.data.id}}</td>
        <td>{{item.data.albums.data.title}}</td>
        <td>{{item.album.user.email }}</td> -->
      <!-- </tr>
    </tbody>
  </table> -->
  <!-- <button pButton type="button" badge="8" class="p-button-warning">Messages</button>
  <button pButton type="button"  icon="pi pi-users" class="p-button-warning" badge="8" badgeClass="p-badge-info">8</button>

<button pButton type="button" label="Info" class="p-button-info">submit</button> -->